<div class="jumbotron m-5 div1">
    <h1>Chat de constultas</h1>
    <br>
    <form action="" class="consulta" onsubmit="return sendMensaje(this)">
        <input type="text" name="email" id="autor" placeholder="Email" class="comp">
        <input type="text" name="consulta" id="texto" placeholder="Motivo de la consulta" class="comp">
        <button type="submit" class="btn btn-info comp">Enviar</button>
    </form>
    <hr>
    <div id="message" class=" mt-4 bgBox">

    </div>
</div>