<div class="container">
    <h1>Chat de consulta</h1>
    <form class="form" onsubmit=" return addMessage(this)">
        <div class="input-group mb-3">
            <input type="text" id="author" class="form-control" placeholder="Nombre">
            <input type="text" id="text" class="form-control" placeholder="Mensaaje">

            <button class="btn btn-outline-secondary sendMensaje" type="submit" id="button-addon2">Enviar</button>
        </div>
    </form>
    <div id="message" class=" mt-4 bgBox">
    </div>
</div>